body {
    margin: 0em;
}

/*changing media query for the nav bar since it collapses too early for the # of items that i have listed on it*/

@media (max-width: 768px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}

.navbar.navbar-default {
    background-color: #acd373;
    height: 4.75em;
    margin: 0em;
    padding: 0em;
}

.navbar-brand {    
    height: auto;
    width: auto;
    max-height: 3.125em;
}

#navbar {
    background: #acd373;
}

ul  {
    list-style-type: none;
    display: inline;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: #ffffff;
    margin-top: 2em;
    font-size: .8em;
}

li {
    margin-left: -1em;
}

nav .active {
    text-decoration: underline;
    background-color: #acd373;
    background-image: none;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background-color: #acd373;
    color: #ffffff;
}

.navbar-default .navbar-nav>li>a {
    color: #ffffff;
}

#hamburger {
    max-height: 2em;
}

@media (max-width: 768px)  {
    #hero {
        height: auto;
    }
}

#hero {
    height: 31em;
    background-color:  #9abd67;
    position: relative;
    height: 100%;
}


#hero .row h1 {
    margin: 0px;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    text-align: center;
    padding-top: 2.9em;
    color: #ffffff;
    font-size: 2.2em;
    font-weight: 600;
}


#hero h2 {
    color: #ffffff;
    font-family: "Droid Serif", serif;
    font-style: italic;
    text-align: center;
    font-weight: 200;
    font-size: 1.2em;
}

#hero #arrow {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3em;
}


#siluet {
    height: auto;
    width: 100%;
    position: absolute;
    bottom: 0em;
    left: 0em;
    

}

@media (max-width: 768px) {
    #hero {
        height: 48em;
    }
    #hero .wrap {
       padding-top: 10em;
        margin-left: 1em;
        margin-right: 1em;
    }
    #hero h2 {
        font-size: 1.5em;
    }
    
    #text {
        width: 50%;
    }
    
    #iphone {
        max-height: 5em;
        im
    }
}



#about h1 {
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    margin-left: 3em;
    font-weight: 400;
    
}

#about p {
    font-family: "Open Sans", sans-serif;
    display: inline-block;
    margin: .5em;
    font-size: 1em;
    
}

#text {
    width: 50%;
    margin-top: 3em;
}

#human {
    height: auto;
    width: auto;
    max-height: 3em;
    display: inline;
    float: left;
}

#about button {
    font-family: "Droid Serif", serif;
    color: #9abd67;
    font-size: 1em;
    border-color: #9abd67;
    border-style: solid;
    border-width: .05em; 
    height: 2.5em;
    width: 9.3em;
    background-color: white;
    margin-top: 2em;
}

#iphone {
    display: inline-block;
    height: auto;
    width: auto;
    max-height: 20em;
    float: right;
    margin-right: 12em;
    margin-bottom: 6em;
    margin-top: 2.5em;
}
